


body{margin: 0;
margin-top: 0
;
background-color: rgb(222, 218, 211);
}
.Menu{background-color: rgb(255, 178, 53);
padding: 24px;
text-align: center;





}
a:link{color:rgb(255, 85, 0);
    

}
a:hover{color: black;



}

a{padding: 15px;

}
.Post1{ margin: 1em 0em 5em 10em;
    background-color: rgb(251, 251, 251);
    width: 45em;
    padding-left: 1em;
   
}
.Post2{margin: 1em 0em 5em 10em;
    background-color: rgb(255, 255, 255);
    width: 45em;
    padding-left: 1em;
 
}


.Arealateral{
  position: relative;
  bottom: 92rem;
  left: 72em;
  width: 10em;
    background-color: rgb(255, 255, 255);
    text-align: left;
    
   
   



}
.Arealateral2{
    position:relative ;
    bottom: 92em;;
   text-align: left;
   left: 72em;
    width: 10em;
    background-color: rgb(255, 255, 255);
    
    
   
   
    
}

.rodape{text-align: center;}
hr{border:solid 1px;color: rgb(51, 66, 66);}

h4{
padding:0px 0px 5px 12px;
background-color: rgb(51, 66, 66);}